<!doctype html>
<html lang="en">
  <head>
    <title>Flask Learning</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      {% include 'banner.html' %}
      <h2 class="text-center mt-2 mb-4">About {{ company_name }}</h2>
      <p class="lead">
        Hello there. I am building this Jovian Careers website in order to learn Flask and its functionalities.
      </p>
      <h2 class="text-center mt-2 mb-4">Job Openings at {{ company_name }}</h2>
      {% for job in jobs %}
        {% include 'joblists.html' %}
      {% endfor %}
      <div class="text-center">
        <a class="btn btn-primary btn-lg" href="mailto:saikatbmd9836@gmail.com?subject=Question%20about%20Job%20">Contact Us</a>
      </div>
    </div>
  </body>
</html>